<template>
    <div class="standings grid">
        <span>Rank</span>
        <span>Team</span>
        <span>Record</span>
        <span>Points Scored</span>
        <span>Points Against</span>
        <span>Total Points</span>

        <template v-for="(roster, index) in standings" :key="`roster-${roster.Id}`">

            <span :class="rosterClasses(index)">{{ index + 1 }}</span>
            <span :class="rosterClasses(index)">
                {{ roster.Owner.DisplayName }}<sup v-if="hasClinchedPlayoffs(roster)"><em>P</em></sup>
                <sup v-else-if="hasClinchedToiletBowl(roster)"><em>T</em></sup>
                <sup v-if="hasClinchedPlayoffBye(roster) || hasClinchedToiletBowlBye(roster)"><em>B</em></sup>
            </span>
            <span :class="rosterClasses(index)">{{ roster.Wins }} - {{ roster.Losses }}</span>
            <span :class="rosterClasses(index)">{{ roster.PointsScored.toFixed(2) }}</span>
            <span :class="rosterClasses(index)">{{ roster.PointsAgainst.toFixed(2) }}</span>
            <span :class="rosterClasses(index)">{{ roster.TotalPointsScored.toFixed(2) }}</span>

        </template>
    </div>
    <div class="key">
        <div class="key__item playoff--bye" />
        = Playoff Bye
        <div class="key__item playoff" />
        = Playoffs
        <div class="key__item toilet-bowl" />
        = Toilet Bowl
        <div class="key__item toilet-bowl--bye" />
        = Toilet Bowl Bye
    </div>
    <div class="key">
        <sup><em>P</em></sup>
        = Clinched Playoffs
        <sup><em>T</em></sup>
        = Clinched Toilet Bowl
        <sup><em>B</em></sup>
        = Clinched First Round Bye
    </div>
</template>
<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useRootStore } from '../stores/rootStore';

import Roster from '../models/Roster';

export default defineComponent({
    name: 'CurrentStandings',
    setup() {
        const store = useRootStore();
        const standings = computed<Roster[]>(() => store.currentStandings);
        const weeksRemainingInSeason = computed(() => store.weeksRemainingInSeason);

        function rosterClasses(index: number): string {

            if (index < 2){
                return 'playoff--bye';
            }

            if (index < 6) {
                return 'playoff';
            }

            if (index > 9) {
                return 'toilet-bowl--bye';
            }

            return 'toilet-bowl';
        }

        function hasClinchedPlayoffBye(roster: Roster): boolean {

            if (weeksRemainingInSeason.value < 1) {
                return standings.value.findIndex((r) => r.Id == roster.Id) < 2;
            }

            const thirdPlace = standings.value[2];

            // if third place won every game, could they possibly catch this roster
            return thirdPlace.Wins + weeksRemainingInSeason.value < roster.Wins;
        }

        function hasClinchedPlayoffs(roster: Roster): boolean {

            if (weeksRemainingInSeason.value < 1) {
                return standings.value.findIndex((r) => r.Id == roster.Id) < 6;
            }

            const seventhPlace = standings.value[6];

            return seventhPlace.Wins + weeksRemainingInSeason.value < roster.Wins;
        }

        function hasClinchedToiletBowl(roster: Roster): boolean {

            if (weeksRemainingInSeason.value < 1) {
                return standings.value.findIndex((r) => r.Id == roster.Id) >= 6;
            }

            const sixthPlace = standings.value[5];

            return roster.Wins + weeksRemainingInSeason.value < sixthPlace.Wins;
        }

        function hasClinchedToiletBowlBye(roster: Roster): boolean {

            if (weeksRemainingInSeason.value < 1) {
                return standings.value.findIndex((r) => r.Id == roster.Id) >= 10;
            }

            const tenthPlace = standings.value[9];

            return roster.Wins + weeksRemainingInSeason.value < tenthPlace.Wins;
        }



        return {
            standings,
            rosterClasses,
            hasClinchedPlayoffBye,
            hasClinchedPlayoffs,
            hasClinchedToiletBowl,
            hasClinchedToiletBowlBye,
        };
    },
});
</script>
<style lang="css" scoped>

    .standings {
        grid-template-columns: repeat(6, max-content);
    }

    .playoff {
        background-color: var(--primary-dark);
    }

    .playoff--bye {
        background-color: var(--primary-dim);
    }

    .toilet-bowl {
        background-color: var(--warning-dark);
    }

    .toilet-bowl--bye {
        background-color: var(--warning-dim);
    }

    .key {
        display: flex;
        align-items: center;
        gap: var(--padding-sm);
    }

    .key__item {
        height: 1rem;
        width: 1rem;
    }

</style>