<template>
    <h3>As of Week {{ currentWeek }}</h3>
    <div class="draft-order grid">

        <span>Pick</span>
        <span>Team</span>
        <span>Total Points</span>

        <template v-for="(roster, index) in draftOrder" :key="`draft-order-${roster.Id}`">

            <span>{{ index + 1 }}</span>
            <span>{{ roster.Owner.DisplayName }}</span>
            <span>{{ roster.TotalPointsScored }}</span>

        </template>

    </div>

    <p>Picks 7 - 12 will be determined by playoff results</p>
</template>
<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useRootStore } from '../stores/rootStore';

import Roster from '../models/Roster';


export default defineComponent({
    name: 'DraftOrder',
    setup() {
        const store = useRootStore();
        const currentWeek = computed(() => store.CurrentWeek);
        const draftOrder = computed<Roster[]>(() => store.lotteryTeams);

        return {
            draftOrder,
            currentWeek,
        };
    },
});
</script>
<style scoped>

    .draft-order {
        display: grid;
        grid-template-columns: repeat(3, max-content);
    }

</style>