<template>
    <SideNav v-slot="{isOpen}" class="left-aside">

        <router-link to="/" exact-active-class="active">
            <FontAwesomeIcon icon="chart-bar" />
            <span v-if="isOpen">Standings</span>
        </router-link>

        <router-link to="/playoffs" exact-active-class="active">
            <img src="https://sleepercdn.com/images/v2/icons/playoff-bracket.png" style="height: 16px; width: 16px;">
            <span v-if="isOpen">Playoff Bracket</span>
        </router-link>

        <router-link to="/draft-order" exact-active-class="active">
            <FontAwesomeIcon icon="list-ol" />
            <span v-if="isOpen">Draft Order</span>
        </router-link>

        <!-- <router-link to="/matchups" exact-active-class="active">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="none"
                viewBox="0 0 16 16"
                color="currentcolor"
            >
                <path fill="currentcolor" fill-rule="evenodd" d="M10.333 1.667a4 4 0 014 4v4.666a4 4 0 01-4 4h-.667a1 1 0 01-1-1v-1.666h1.333c1.667 0 2.667-1 2.667-2.334V7c0-1.667-1-2.667-2.667-2.667H8.666V2.667a1 1 0 011-1h.667zM5.999 4.333h1.334V2.667a1 1 0 00-1-1h-.667c-2.21 0-4 1.79-4 4v4.666c0 2.21 1.79 4 4 4h.667a1 1 0 001-1v-1.666H5.999c-1.666 0-2.666-.667-2.666-2.334V6.667c0-1.667 1-2.334 2.666-2.334zm.226 4.505l.72-1.937c.047-.13.083-.22.11-.275a.519.519 0 01.487-.293.555.555 0 01.467.247.47.47 0 01.08.254.627.627 0 01-.023.162 1.257 1.257 0 01-.047.143l-.048.122-.94 2.293c-.034.09-.068.176-.103.257a1.209 1.209 0 01-.138.246.667.667 0 01-.236.2.743.743 0 01-.348.076.69.69 0 01-.586-.276 1.265 1.265 0 01-.138-.246 7.821 7.821 0 01-.102-.253l-.926-2.282-.047-.117a1.204 1.204 0 01-.052-.157.727.727 0 01-.022-.163c0-.137.06-.259.167-.359a.554.554 0 01.389-.147c.183 0 .33.058.423.182.068.091.132.225.196.403l.717 1.92zm5.441.198c0 .252-.073.481-.216.682a1.364 1.364 0 01-.607.459 2.344 2.344 0 01-.894.156c-.41 0-.752-.07-1.029-.216a1.4 1.4 0 01-.492-.433.983.983 0 01-.2-.566.48.48 0 01.158-.358.53.53 0 01.37-.138c.121 0 .23.037.32.112.08.067.146.162.196.279.044.1.09.18.139.243a.471.471 0 00.177.134c.08.037.193.057.34.057.201 0 .358-.04.473-.118.099-.067.14-.135.14-.216 0-.066-.02-.11-.06-.148a.622.622 0 00-.239-.129 5.544 5.544 0 00-.485-.118 4.075 4.075 0 01-.731-.217 1.284 1.284 0 01-.516-.376.968.968 0 01-.207-.626c0-.235.072-.448.214-.63.138-.179.334-.313.584-.404.24-.088.52-.132.837-.132.254 0 .477.03.668.088.193.06.356.14.489.242.133.103.233.215.3.336.066.124.101.25.101.375a.508.508 0 01-.151.359.503.503 0 01-.37.154.466.466 0 01-.318-.104 1.016 1.016 0 01-.193-.251.756.756 0 00-.204-.252c-.064-.048-.19-.077-.375-.077a.734.734 0 00-.4.094c-.077.05-.104.093-.104.137 0 .027.007.046.021.063.026.031.065.06.118.087.065.032.13.057.195.075.073.02.196.05.367.088.224.048.427.1.61.158.192.06.357.135.495.223.148.095.265.218.35.366.087.152.129.334.129.542z" clip-rule="evenodd" />
            </svg>
            <span v-if="isOpen">Matchups</span>
        </router-link> -->

    </SideNav>

    <main>
        <header v-if="seasonType == 'regular'" class="announcement">
            <FontAwesomeIcon icon="bullhorn" />
            <div>
                <h1>Week {{ currentWeek }} of the {{ currentSeason }} regular season</h1>
                <h2 v-if="weeksLeft > 1">
                    Playoffs begin in {{ weeksLeft }} weeks
                </h2>
                <h2 v-else-if="weeksLeft == 1">
                    Playoffs begin next week
                </h2>
            </div>
        </header>

        <router-view />

        <template v-if="isMobile">

            <hr>

            <LeagueActivity />

        </template>


    </main>

    <LeagueActivity v-if="!isMobile" />

</template>
<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useRootStore } from '../stores/rootStore';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { useMobile } from '../composables/useMobile';

import SideNav from '../components/SideNav.vue';
import LeagueActivity from '../components/LeagueActivity.vue';

export default defineComponent({
    name: 'LeagueDashboard',
    components: {
        FontAwesomeIcon,
        SideNav,
        LeagueActivity,
    },
    setup() {
        const store = useRootStore();
        const { isMobile } = useMobile();

        const currentWeek = computed(() => store.CurrentWeek);
        const currentSeason = computed(() => store.CurrentSeason);
        const seasonType = computed(() => store.SeasonType);
        const weeksLeft = computed(() => 15 - currentWeek.value);

        return {
            currentWeek,
            currentSeason,
            weeksLeft,
            seasonType,
            isMobile,
        };
    },
});
</script>
<style scoped>

    .announcement {
        display: flex;
        align-items: center;
        background-color: var(--bg-light);
        border-radius: var(--border-radius);

        padding: 0 var(--padding-lg);
        gap: var(--padding-lg);
    }

    .announcement svg {
        font-size: 2em;
        color: var(--primary);
    }

    @media(max-width: 640px) {
        .right-aside {
            align-self: stretch;
        }

        hr {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
            width: calc(100% + 1rem);
        }
    }

</style>