<template>
    <h2>Playoffs 🏆</h2>
    <div class="playoff-bracket">
        <PlayoffRound v-for="round in winnersBracket" :key="`winners-bracket-round-${round}`" :round="round" />
        <div class="bracket__fifth-place">
            <h5>Fifth Place</h5>
            <PlayoffMatchup :matchup="fifthPlaceMatchup" />
        </div>
        <div class="bracket__third-place">
            <h5>Third Place</h5>
            <PlayoffMatchup :matchup="thirdPlaceMatchup" />
        </div>
    </div>

    <h2>Toilet Bowl 💩</h2>
    <div class="playoff-bracket">
        <PlayoffRound v-for="round in toiletBowl" :key="`toilet-bowl-round-${round}`" :round="round" />
        <div class="bracket__fifth-place">
            <h5>Seventh Place</h5>
            <PlayoffMatchup :matchup="fifthPlaceMatchup" />
        </div>
        <div class="bracket__third-place">
            <h5>Ninth Place</h5>
            <PlayoffMatchup :matchup="thirdPlaceMatchup" />
        </div>
    </div>
</template>
<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useRootStore } from '../stores/rootStore';
import { usePlayoffsStore } from '../stores/dashboard/playoffsStore';

import PlayoffMatchup from '../components/Playoffs/PlayoffMatchup.vue';
import PlayoffRound from '../components/Playoffs/PlayoffRound.vue';

export default defineComponent({
    name: 'PlayoffPicture',
    components: { PlayoffMatchup, PlayoffRound },
    setup() {
        const rootStore = useRootStore();
        const playoffsStore = usePlayoffsStore();

        const seasonState = computed(() => rootStore.SeasonType);
        const winnersBracket = computed(() => playoffsStore.WinnersBracket);
        const toiletBowl = computed(() => playoffsStore.ToiletBowl);

        const fifthPlaceMatchup = computed(() => winnersBracket.value[1].Matchups[2]);
        const thirdPlaceMatchup = computed(() => winnersBracket.value[2].Matchups[1]);

        const seventhPlaceMatchup = computed(() => toiletBowl.value[1].Matchups[2]);
        const ninthPlaceMatchup = computed(() => toiletBowl.value[2].Matchups[1]);

        if (winnersBracket.value.length == 0) {
            if (seasonState.value == 'regular') {
                playoffsStore.getProjectedWinnersBracket();
                playoffsStore.getProjectedToiletBowl();
            } else {
                playoffsStore.getWinnersBracket();
                playoffsStore.getToiletBowl();
            }
        }

        return {
            winnersBracket,
            toiletBowl,
            thirdPlaceMatchup,
            fifthPlaceMatchup,
            seventhPlaceMatchup,
            ninthPlaceMatchup,
        };
    },
});
</script>
<style scoped>

    .playoff-bracket {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        gap: var(--padding-lg);
    }

    .bracket__fifth-place {
        grid-column-start: 2;
    }

    .bracket__third-place {
        grid-column-start: 3;
    }

</style>