<template>

    <LoadingSpinner v-if="isFetching" />

    <template v-else>

        <h1>Matchups</h1>
        <div class="matchups">
            <div class="grid">
                <template v-for="matchup in matchups" :key="`matchup-${matchup.Id}`">
                    <span>{{ matchup.TeamA.Owner.DisplayName }}</span>
                    <span>{{ matchup.TeamAPoints.toFixed(2) }}</span>
                    <span>{{ matchup.TeamBPoints.toFixed(2) }}</span>
                    <span>{{ matchup.TeamB.Owner.DisplayName }}</span>
                </template>
            </div>
            <button class="refresh" title="Refresh matchups" @click="getMatchups">
                <FontAwesomeIcon icon="redo-alt" />
            </button>
        </div>

    </template>

</template>
<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useRootStore } from '../stores/rootStore';
import { useMatchupsStore } from '../stores/dashboard/matchupsStore';
import Matchup from '../models/Matchup';

import LoadingSpinner from '../components/LoadingSpinner.vue';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

export default defineComponent({
    name: 'WeeklyMatchups',
    components: { LoadingSpinner, FontAwesomeIcon },
    setup() {
        const rootStore = useRootStore();
        const matchupStore = useMatchupsStore();

        const matchups = computed<Matchup[]>(() => matchupStore.Matchups);
        const isFetching = computed(() => rootStore.IsFetchingData);

        function getMatchups() {
            matchupStore.getMatchupsForCurrentWeek();
        }

        if (matchups.value.length == 0){
            getMatchups();
        }

        return {
            matchups,
            isFetching,
            getMatchups,
        };
    },
});
</script>
<style scoped>

    .matchups {
        display: flex;
        align-items: flex-start;
        gap: var(--padding-md);
    }

    .matchups .grid {
        grid-template-columns: repeat(4, max-content);
    }

    .refresh {
        padding: var(--padding-md);
        background-color: transparent;
        color: #fff;
        border: 0;
        border-radius: var(--border-radius);

        cursor: pointer;
        transition: background .2s ease-in-out;
    }

    .refresh:hover {
        background-color: var(--bg-lightest);
    }

</style>