<template>
    <div class="playoff-matchup">
        <div class="matchup__team">
            <ManagerAvatar v-if="matchup.TeamA" :manager="matchup.TeamA.Owner" :size="25" />
            <div class="team__label">
                <span>
                    <sup v-if="matchup.TeamASeed"><em>{{ matchup.TeamASeed }}</em></sup>
                    {{ teamALabel }}
                </span>

                <span v-if="matchup.TeamA" class="team__owner">{{ matchup.TeamA.Owner.DisplayName }}</span>
            </div>
        </div>
        <hr>
        <div class="matchup__team">
            <ManagerAvatar v-if="matchup.TeamB" :manager="matchup.TeamB.Owner" :size="25" />
            <div class="team__label">
                <span>
                    <sup v-if="matchup.TeamBSeed"><em>{{ matchup.TeamBSeed }}</em></sup>
                    {{ teamBLabel }}
                </span>
                <span v-if="matchup.TeamB" class="team__owner">{{ matchup.TeamB.Owner.DisplayName }}</span>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
import { computed, defineComponent, PropType } from 'vue';
import PlayoffMatchup from '../../models/PlayoffMatchup';

import ManagerAvatar from '../ManagerAvatar.vue';

export default defineComponent({
    name: 'PlayoffMatchup',
    components: { ManagerAvatar },
    props: {
        matchup: {
            type: Object as PropType<PlayoffMatchup>,
            required: true,
        },
    },
    setup(props) {
        const teamALabel = computed(() => {
            if(props.matchup.TeamA) {
                return props.matchup.TeamA.Name;
            } else {
                return props.matchup.IsBye ? 'BYE' : 'TBD';
            }
        });

        const teamBLabel = computed(() => {
            if(props.matchup.TeamB) {
                return props.matchup.TeamB.Name;
            } else {
                return props.matchup.IsBye ? 'BYE' : 'TBD';
            }
        });

        return {
            teamALabel,
            teamBLabel,
        };
    },
});
</script>
<style scoped>

    .playoff-matchup {
        background-color: var(--bg-light);
        padding: var(--padding-sm) var(--padding-lg) var(--padding-sm) var(--padding-sm);
        border-radius: var(--border-radius);
        min-width: 8rem;
    }

    .matchup__team {
        display: flex;
        align-items: center;
        gap: var(--padding-sm);
    }

    .team__label {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    }

    .team__label sup {
        color: #ccc;
    }

    .team__owner {
        font-size: 0.75rem;
    }

    hr {
        border-color: var(--bg-lightest);
    }

</style>