<template>
    <div class="playoff-round">
        <h5 class="round__header">
            Round {{ round.Round }}
        </h5>
        <div class="round__matchups">
            <playoff-matchup v-for="(matchup, index) in matchupsInWinners" :key="`round-${index}-matchup-${matchup.Id}`" :matchup="matchup" />
        </div>
    </div>
</template>
<script lang="ts">
import { defineComponent, computed, PropType } from 'vue';
import PlayoffRound from '../../models/PlayoffRound';
import PlayoffMatchup from '../../models/PlayoffMatchup';

import PlayoffMatchupComponent from './PlayoffMatchup.vue';


export default defineComponent({
    name: 'PlayoffRound',
    components: { 'playoff-matchup': PlayoffMatchupComponent },
    props: {
        round: {
            type: Object as PropType<PlayoffRound>,
            required: true,
        },
    },
    setup(props) {

        const matchupsInWinners = computed<PlayoffMatchup[]>(() => {
            if (props.round.Round == 1) {
                return props.round.Matchups;
            }

            if (props.round.Round == 2) {
                return props.round.Matchups.slice(0, 2);
            }

            else {
                return [props.round.Matchups[0]];
            }
        });

        return {
            matchupsInWinners,
        };

    },
});
</script>
<style scoped>

    .playoff-round {
        display: flex;
        flex-direction: column;
    }

    .round__matchups {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: var(--padding-lg);
    }

    .round__header {
        justify-self: start;
    }

</style>