<template>
    <aside class="right-aside">
        <div class="champion">
            <h4>Champion 🏆</h4>
            <div class="champion__card">
                <ManagerAvatar :manager="champion" :size="40" />
                <div class="champion__info">
                    <span>{{ champion.TeamName }}</span>
                    <span class="champion__name">{{ champion.DisplayName }}</span>
                </div>
            </div>
        </div>

        <LoadingSpinner v-if="isFetching" />

        <div v-else class="timeline">
            <Component :is="getTransactionComponent(transaction)" v-for="transaction in transactions" :key="transaction.Id" :transaction="transaction" />

            <button v-if="moreTransactionsToFetch" @click="loadMoreTransactions">
                Load more
            </button>
            <span v-else class="timeline__empty">
                No more transactions to load
            </span>
        </div>

    </aside>
</template>
<script lang="ts">
import { Component, computed, defineComponent } from 'vue';
import { useRootStore } from '../stores/rootStore';
import { useTransactionsStore } from '../stores/dashboard/transactionsStore';

import Trade from '../models/Trade';
import Transaction from '../interfaces/Transaction';

import LoadingSpinner from './LoadingSpinner.vue';
import ManagerAvatar from './ManagerAvatar.vue';
import WaiverCard from './WaiverCard.vue';
import TradeCard from './TradeCard.vue';

export default defineComponent({
    name: 'LeagueActivity',
    components: {
        ManagerAvatar,
        LoadingSpinner,
    },
    setup() {
        const rootStore = useRootStore();
        const transactionsStore = useTransactionsStore();
        const isFetching = computed(() => transactionsStore.IsFetchingData);
        transactionsStore.getTransactionsForCurrentWeek();

        const champion = computed(() => rootStore.currentChampion);
        const transactions = computed(() => transactionsStore.Transactions);
        const moreTransactionsToFetch = computed(() => transactionsStore.WeekLastFetched > 1);

        function getTransactionComponent(transaction: Transaction): Component {
            return transaction instanceof Trade ? TradeCard : WaiverCard;
        }

        function loadMoreTransactions(){
            transactionsStore.getTransactionsForNextWeek();
        }

        return {
            champion,
            transactions,
            getTransactionComponent,
            loadMoreTransactions,
            isFetching,
            moreTransactionsToFetch,
        };
    },
});
</script>
<style scoped>

    .right-aside {
        display: flex;
        flex-direction: column;
        border-left: 1px solid var(--bg-light);

        transition: width .2s ease-in-out;
        overflow: hidden;
    }

    .champion {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0 var(--padding-lg) var(--padding-lg) var(--padding-lg);
        border-bottom: 1px solid var(--bg-lightest);
    }

    .champion__card {
        display: flex;
        justify-content: space-between;

        gap: var(--padding-lg);
    }

    .champion__info {
        display: flex;
        flex-direction: column;
    }

    .champion__name {
        font-size: .75rem;
    }

    .timeline {
        overflow-y: auto;

        display: flex;
        flex-direction: column;
    }

    .timeline button {
        background-color: var(--primary);
        color: var(--bg-dark);
        font-size: 1.2rem;
        cursor: pointer;
        margin: var(--padding-lg) 0;
        align-self: center;

        border: 0;
        border-radius: .5rem;

        padding: var(--padding-md) var(--padding-lg);
        white-space: nowrap;


        transition: background-color .2s, color .2s;
    }

    .timeline button:hover {
        background-color: var(--primary-dim);
        color: var(--bg-lightest);
    }

    .timeline__empty {
        margin: var(--padding-lg) 0;
        color: var(--bg-lightest);
        align-self: center;
    }

</style>