<template>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        style="margin: auto; background: none; display: block; shape-rendering: auto;"
        :width="`${sizeInPixels}px`"
        :height="`${sizeInPixels}px`"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMidYMid"
    >
        <circle
            cx="50"
            cy="50"
            r="32"
            stroke-width="8"
            stroke="#00ceb7"
            stroke-dasharray="50.26548245743669 50.26548245743669"
            fill="none"
            stroke-linecap="round"
        >
            <animateTransform
                attributeName="transform"
                type="rotate"
                repeatCount="indefinite"
                dur="1s"
                keyTimes="0;1"
                values="0 50 50;360 50 50"
            />
        </circle>
    </svg>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'LoadingSpinner',
    props: {
        size: {
            type: String,
            default: 'medium',
        },
    },
    setup(props) {
        let sizeInPixels: number;

        switch(props.size) {
            case 'small':
                sizeInPixels = 50;
                break;
            case 'large':
                sizeInPixels = 100;
                break;
            case 'medium':
            default:
                sizeInPixels = 70;
                break;
        }

        return {
            sizeInPixels,
        };
    },
});
</script>