<template>
    <div class="manager-avatar" :style="styles" />
</template>
<script lang="ts">
import { defineComponent, PropType } from 'vue';
import Manager from '../models/Manager';

export default defineComponent({
    name: 'ManagerAvatar',
    props: {
        thumbnail: {
            type: Boolean,
            default: true,
        },
        manager: {
            type: Object as PropType<Manager>,
            required: true,
        },
        size: {
            type: Number,
            required: true,
        },
    },
    setup(props) {
        const endpoint = props.thumbnail ? 'https://sleepercdn.com/avatars/thumbs' : 'https://sleepercdn.com/avatars';

        let url = 'url(https://sleepercdn.com/images/v2/icons/player_default.webp)';

        if (props.manager.Avatar) {
            url = `url(${endpoint}/${props.manager.Avatar})`;
        }

        const styles = {
            backgroundImage: url,
            height: `${props.size}px`,
            width: `${props.size}px`,
            backgroundSize: `auto ${props.size}px`,
        };

        return {
            styles,
        };
    },
});
</script>
<style scoped>

    .manager-avatar {
        display: inline-block;
        vertical-align: middle;
        background-position: center;
        border-radius: 50%;
        background-repeat: no-repeat;
        border: 1px solid var(--bg-lightest);

    }

</style>