<template>
    <nav>
        <button class="menu-button" title="Refresh matchups" @click="toggleSidebar">
            <FontAwesomeIcon icon="bars" />
        </button>

        YellowRackets FF 🏈

        <template v-if="!isMobile">

            <router-link to="/" active-class="active">
                <FontAwesomeIcon icon="tachometer-alt" />
                Dashboard
            </router-link>

            <router-link to="/stats" active-class="active">
                <FontAwesomeIcon icon="chart-line" />
                Statistics
            </router-link>

        </template>

    </nav>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { useMobile } from '../composables/useMobile';

import { useRootStore } from '../stores/rootStore';

export default defineComponent({
    name: 'NavHeader',
    components: { FontAwesomeIcon },
    setup() {
        const store = useRootStore();
        const { isMobile } = useMobile();


        function toggleSidebar() {
            store.IsSideNavOpen = !store.IsSideNavOpen;
        }

        return {
            toggleSidebar,
            isMobile,
        };
    },
});
</script>
<style scoped>

    nav {
        padding: var(--padding-lg) var(--padding-md);
        grid-column: 1 / 4;
        border-bottom: 1px solid var(--bg-light);

        display: flex;
        align-items: center;
        gap: var(--padding-lg);

        white-space: nowrap;

        font-size: 1.2rem;
    }

    .menu-button {
        padding: var(--padding-md);
        background-color: transparent;
        color: #fff;
        border: 0;
        border-radius: var(--border-radius);

        cursor: pointer;
        transition: background .2s ease-in-out;
        font-size: 1.2rem;

    }

    .menu-button:hover {
        background-color: var(--bg-lightest);
    }

    a {
        display: flex;
        align-items: center;
        gap: var(--padding-sm);

        cursor: pointer;
        text-decoration: none;
        white-space: nowrap;
        height: 1rem;
        padding: var(--padding-md) var(--padding-lg);
        border-radius: .5rem;

        transition: background-color .2s, color .2s;
    }

    a:hover {
        background-color: var(--bg-lightest);
    }

    .active {
        background-color: var(--primary);
        color: var(--bg-dark);
    }

    .active:hover {
        background-color: var(--primary-dim);
        color: var(--bg-lightest);
    }

</style>