<template>
    <div class="player-avatar" :style="styles" />
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import Player from '../models/Player';

export default defineComponent({
    props: {
        player: {
            type: Number,
            required: true,
        },
        size: {
            type: Number,
            required: true,
        },
    },
    setup(props) {
        let url = 'url(https://sleepercdn.com/images/v2/icons/player_default.webp)';

        if (props.player) {
            url = `url(https://sleepercdn.com/content/nfl/players/thumb/${props.player}.jpg)`;
        }

        const styles = {
            backgroundImage: url,
            height: `${props.size}px`,
            width: `${props.size}px`,
            backgroundSize: `auto ${props.size}px`,
        };

        return {
            styles,
        };
    },
});
</script>
<style scoped>

    .player-avatar {
        display: inline-block;
        vertical-align: middle;
        background-position: center;
        border-radius: 50%;
        background-repeat: no-repeat;
        border: 1px solid var(--bg-lightest);

    }

</style>