<template>
    <aside class="left-aside" :class="{collapsed: !isOpen}">

        <template v-if="isMobile">

            <router-link to="/" class="main-nav" active-class="active">
                <FontAwesomeIcon icon="tachometer-alt" />
                Dashboard
            </router-link>

            <router-link to="/stats" class="main-nav" active-class="active">
                <FontAwesomeIcon icon="chart-line" />
                Statistics
            </router-link>

            <hr>

        </template>

        <slot :isOpen="isOpen" />

    </aside>
</template>
<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useMobile } from '../composables/useMobile';

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { useRootStore } from '../stores/rootStore';

export default defineComponent({
    name: 'SideNav',
    components: {
        FontAwesomeIcon,
    },
    setup() {
        const store = useRootStore();
        const { isMobile } = useMobile();
        const isOpen = computed(() => store.IsSideNavOpen);

        const icon = computed(() => {
            return isOpen.value ? 'angle-double-left' : 'angle-double-right';
        });

        function toggleSidebar() {
            store.IsSideNavOpen = !store.IsSideNavOpen;
        }

        return {
            isOpen,
            isMobile,
            toggleSidebar,
            icon,
        };
    },
});
</script>
<style scoped>

    .left-aside {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--bg-light);

        width: 200px;
        transition: width .2s ease-in-out;
        overflow-x: hidden;
    }

    .collapsed {
        width: 80px;
    }

    .collapse-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        padding-right: var(--padding-sm);
    }

    .main-nav.active {
        background-color: var(--primary);
        color: var(--bg-dark);
    }

    .main-nav.active:hover {
        background-color: var(--primary-dim);
        color: var(--bg-lightest);
    }

    :deep() a {
        cursor: pointer;
        text-decoration: none;
        white-space: nowrap;
        height: 1rem;
        padding: var(--padding-md) var(--padding-sm) var(--padding-md) var(--padding-lg);
    }

    :deep() a:hover {
        background-color: var(--bg-lightest);
    }

    :deep() .active {
        background-color: var(--bg-light);
    }

    :deep() svg,
    :deep() img {
        margin-right: var(--padding-sm);
    }

    @media (max-width: 768px) {

        .collapsed {
             width: 0;
        }

    }

</style>