<template>
    <span class="transaction__timestamp">
        {{ formattedTimestamp }} ago
    </span>

    <div class="transaction">
        <div class="transaction__header">
            <ManagerAvatar v-for="manager in transaction.Managers" :key="manager.Id" :manager="manager" :size="20" />
        </div>

        <div class="transaction__assets">

            <template v-for="groupedMove in movesByRoster" :key="groupedMove.Roster.Owner.Id">

                <div class="asset-group__title">
                    <ManagerAvatar :manager="groupedMove.Roster.Owner" :size="20" />

                    <span>{{ groupedMove.Roster.Owner.DisplayName }}</span>
                </div>

                <div class="assets__header">
                    <span>Receives</span>
                    <span>&nbsp;</span>
                    <span>Sends</span>
                </div>

                <div v-for="move in groupedMove.PlayerMoves" :key="getPlayerMoveKey(move)" class="assets__row">
                    <template v-if="move.Recipient">
                        {{ move.Player }}
                        <FontAwesomeIcon icon="arrow-left" />
                        <span>&nbsp;</span>
                    </template>

                    <template v-if="move.Sender">
                        <span>&nbsp;</span>
                        <FontAwesomeIcon icon="arrow-right" />
                        {{ move.Player }}
                    </template>
                </div>

                <div v-for="pick in groupedMove.DraftPicks" :key="pick.Owner.Id" class="assets__row">
                    <template v-if="pick.Owner == groupedMove.Roster">
                        <span>{{ pick.Season }} {{ pick.Round }}</span>
                        <FontAwesomeIcon icon="arrow-left" />
                        <span>&nbsp;</span>
                    </template>

                    <template v-if="pick.PreviousOwner == groupedMove.Roster">
                        <span>&nbsp;</span>
                        <FontAwesomeIcon icon="arrow-right" />
                        <span>{{ pick.Season }} {{ pick.Round }}</span>
                    </template>
                </div>

            </template>

        </div>

    </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { formatDistanceToNow } from "date-fns";

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

import ManagerAvatar from './ManagerAvatar.vue';
import Trade from '../models/Trade';
import PlayerMove from '../interfaces/PlayerMove';

export default defineComponent({
    name: 'TradeCard',
    components: { ManagerAvatar, FontAwesomeIcon },
    props: {
        transaction: {
            type: Object as PropType<Trade>,
            required: true,
        },
    },
    setup(props) {
        const formattedTimestamp = formatDistanceToNow(props.transaction.CreatedOn);

        const movesByRoster = props.transaction.Rosters.map((roster) => {
            return {
                Roster: roster,
                PlayerMoves: props.transaction.PlayerMoves.filter((move) => {
                    if (move.Sender) {
                        return move.Sender == roster.Id;
                    }

                    if (move.Recipient) {
                        return move.Recipient == roster.Id;
                    }
                }),
                DraftPicks: props.transaction.DraftPicks.filter((pick) => pick.Owner == roster || pick.PreviousOwner == roster),
            };
        });

        function getPlayerMoveKey(move: PlayerMove){
            let toReturn = '';

            if (move.Player) {
                toReturn += move.Player;
            }

            if (move.Recipient) {
                toReturn += `-${move.Recipient}`;
            }

            if (move.Sender) {
                toReturn += `-${move.Sender}`;
            }

            return toReturn;
        }

        return {
            formattedTimestamp,
            movesByRoster,
            getPlayerMoveKey,
        };
    },
});
</script>
<style scoped>

    .transaction {
        padding: var(--padding-md);
        margin: var(--padding-sm);

        background-color: var(--bg-light);
        border-radius: var(--border-radius);

        display: flex;
        flex-direction: column;
        gap: var(--padding-md);

        max-width: 200px;
    }

    .transaction__header {
        display: flex;
        align-items: center;

        white-space: nowrap;
        overflow: hidden;
        font-size: 0.8rem;
    }

    .transaction__header img:not(:first-child) {
        margin-left: -7px;
    }

    .transaction__header span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .transaction__assets {
        display: grid;
        grid-template-columns: auto auto auto;
        place-items: center;
        gap: var(--padding-md);
    }

    .asset-group__title {
        display: flex;
        align-items: center;
        justify-content: center;
        place-self: normal;
        grid-column-start: 1;
        grid-column-end: 4;

        margin-top: var(--padding-md);
    }

    .asset-group__title span {
        margin-left: var(--padding-sm);
    }

    .assets__header {
        display: contents;
        font-size: 0.7rem;
    }

    .assets__row {
        display: contents;
    }

    .transaction__timestamp {
        margin: var(--padding-sm) 0 0 var(--padding-sm);
        font-size: 0.7rem;
    }

</style>