<template>
    <span class="transaction__timestamp">
        {{ formattedTimestamp }} ago
    </span>

    <div class="transaction">
        <div class="transaction__header">
            <ManagerAvatar :manager="transaction.Manager" :size="20" />
            <span>{{ transaction.Roster.Name }}</span>
        </div>


        <div class="transaction__assets">

            <div class="assets__header">
                <span>Add</span>
                <span>&nbsp;</span>
                <span>Drop</span>
            </div>

            <template v-for="move in transaction.PlayerMoves" :key="`${move.Player}`">

                <div class="assets__row">
                    <template v-if="move.Recipient">
                        <PlayerAvatar :player="move.Player" :size="30" />
                        <FontAwesomeIcon icon="arrow-left" />
                        <span>&nbsp;</span>
                    </template>

                    <template v-if="move.Sender">
                        <span>&nbsp;</span>
                        <FontAwesomeIcon icon="arrow-right" />
                        <PlayerAvatar :player="move.Player" :size="30" />
                    </template>
                </div>

            </template>

        </div>

    </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { formatDistanceToNow } from "date-fns";

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

import WaiverPickup from '../models/WaiverPickup';
import ManagerAvatar from './ManagerAvatar.vue';
import PlayerAvatar from './PlayerAvatar.vue';


export default defineComponent({
    name: 'WaiverCard',
    components: {
        ManagerAvatar,
        FontAwesomeIcon,
        PlayerAvatar,
    },
    props: {
        transaction: {
            type: Object as PropType<WaiverPickup>,
            required: true,
        },
    },
    setup(props) {
        const formattedTimestamp = formatDistanceToNow(props.transaction.CreatedOn);

        return {
            formattedTimestamp,
        };
    },
});
</script>
<style scoped>

    .transaction {
        padding: var(--padding-md);
        margin: var(--padding-sm);

        background-color: var(--bg-light);
        border-radius: var(--border-radius);

        display: flex;
        flex-direction: column;
        gap: var(--padding-md);

        max-width: 200px;
    }

    .transaction__header {
        display: flex;
        align-items: center;
        gap: var(--padding-md);

        white-space: nowrap;
        overflow: hidden;
        font-size: 0.8rem;
    }

    .transaction__header span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .transaction__assets {
        display: grid;
        grid-template-columns: auto auto auto;
        place-items: center;
        gap: var(--padding-md);
    }

    .assets__header {
        display: contents;
        font-size: 0.7rem;
    }

    .assets__row {
        display: contents;
    }

    .transaction__timestamp {
        margin: var(--padding-sm) 0 0 var(--padding-sm);
        font-size: 0.7rem;
    }

</style>