:root {
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 2rem;
    --padding-xl: 4rem;

    --bg-dark: #181c28;
    --bg-light: #283141;
    --bg-lightest: #2f3949;

    --primary: #00ceb7;
    --primary-dim: hsl(173, 70%, 30%);
    --primary-dark: #2a414d;

    --success: #46e7a7;
    --success-dark: #2c4852;

    --warning: #ff2a6d;
    --warning-dim: hsl(341, 70%, 30%);
    --warning-dark: #4a3447;


    --border-radius: 5px;

}

html,
body {
    margin: 0;
    overflow-x: auto;
}

.right-aside {
    grid-column: 3 / 4;
}

footer {
    padding: var(--padding-lg) var(--padding-xl);
    grid-column: 1 / 4;
    background-color: var(--bg-light);
    border-top: 1px solid var(--bg-dark);
}

.grid {
    display: grid;
    background-color: var(--bg-lightest);
    gap: 2px;
    padding: 2px;
}

.grid > * {
    background-color: var(--bg-light);
    padding: var(--padding-sm);
}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}

.site-loader {
    grid-column-start: 2;
    grid-row-start: 2;
}

hr {
    width: 100%;
    border: 1px solid var(--bg-light);
}