<template>

    <LoadingSpinner v-if="isLoading" class="site-loader" size="large" />

    <template v-else>

        <NavHeader />

        <router-view />

        <!-- <footer>footer</footer> -->

    </template>

</template>
<script lang="ts">
import { defineComponent, computed, watch } from 'vue';
import { useRootStore } from './stores/rootStore';
import { useMobile } from './composables/useMobile';

import LoadingSpinner from './components/LoadingSpinner.vue';
import NavHeader from './components/NavHeader.vue';

export default defineComponent({
    components: { LoadingSpinner, NavHeader },
    setup() {
        const store = useRootStore();
        const isLoading = computed(() => store.IsLoading);
        const { isMobile } = useMobile();

        watch(isMobile, (value) => store.IsSideNavOpen = !value);
        store.getBasicLeagueData();

        return {
            isLoading,
        };
    },
});
</script>
<style>

    #app {
        display: grid;
        grid-template: auto 1fr / auto 1fr auto;
        height: 100vh;
        width: 100vw;

        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff;

        background-color: var(--bg-dark);
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--padding-lg);
        padding: var(--padding-xl);
        grid-column: 2 / 3;

        overflow: auto;
    }

    @media(max-width: 768px) {
        main {
            padding: var(--padding-lg) var(--padding-sm);
        }
    }

</style>
